*~
*.b#*
*.s#*
stl/
*~.*
*.*~
*.pyc
.cache/
__pycache__/
libs/PyBBIO
libs/pypruss
images/ubuntu/linux-dev
images/ubuntu/local-files
Printrun/
Slic3r
Host
PathPlanner/build
PathPlanner/PathPlanner.xcodeproj/project.xcworkspace
PathPlanner/PathPlanner.xcodeproj/xcuserdata
PathPlanner/PathPlanner/build
PathPlanner/PathPlanner/*.o
PathPlanner/PathPlanner/*.dep
PathPlanner/PathPlanner/PathPlannerNative_wrap.cpp
PathPlanner/PathPlanner/PathPlannerNative.py
path_planner/PathPlannerNative_wrap.h
_PathPlannerNative.so

# Ignore PyCharm settings
/.idea
dist/
Redeem.egg-info/
build/
sftp-config.json

_build
node_modules
# editor temp files
*.swp

# virtual env
venv/
*.svg
