version: 2
jobs:
  build:
    docker:
      - image: circleci/python:2.7.13

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "requirements.txt" }}-{{ checksum "tests/requirements.txt"}}

      # Install dependencies
      - run:
          name: install dependencies
          command: |
            virtualenv venv
            . venv/bin/activate
            pip install -r requirements.txt
            pip install -r tests/requirements.txt
            pip install pytest-html

      # Cache dependencies
      - save_cache:
          paths:
            - ./venv
          key: v1-dependencies-{{ checksum "requirements.txt" }}--{{ checksum "tests/requirements.txt"}}

      # Run tests
      - run:
          name: run tests
          command: |
            . ~/repo/venv/bin/activate
            mkdir /tmp/pytest
            pytest --html=/tmp/pytest/report.html
          working_directory: ~/repo/tests

      # Store artifacts
      - store_artifacts:
          path: /tmp/pytest
          destination: pytest
