[Unit]
Description=The Replicape Dameon

[Service]
Type=simple
RemainAfterExit=True
ExecStart=/usr/src/redeem/software/Redeem.py

[Install]
WantedBy=basic.target
