[Unit]
Description=a virtual nullmodem connetion

[Service]
RemainAfterExit=yes
Type=simple
ExecStart=/etc/init.d/tty0tty.sh start
ExecStop=/etc/init.d/tty0tty.sh stop
Restart=always

[Install]
WantedBy=basic.target

