Source: redeem
Maintainer: Chris Roadfeldt <chris@roadfeldt.com>
Section: misc
Priority: optional
Standards-Version: 0.16.3
Build-Depends: build-essential, debhelper (>= 9), swig, python-smbus, python-all, dh-python, python-dev

Package: redeem
Architecture: armhf
Depends: swig, python, python-smbus
Description: Redeem software package for use with Replicape CNC and 3D printer cape.
