[System]

machine_type = Thing Mill

[Geometry]
offset_x = 0
offset_y = 0
travel_y = 0.2
travel_x = 0.2

[Steppers]
microstepping_x = 5
microstepping_y = 5
microstepping_z = 5
microstepping_e = 5

steps_pr_mm_x = 28
steps_pr_mm_y = 28
steps_pr_mm_z = 30
steps_pr_mm_e = 8.0
steps_pr_mm_h = 8.0

current_z = 0.8
current_y = 0.8
current_x = 0.8


slow_decay_x = 1
slow_decay_y = 1
slow_decay_z = 1
slow_decay_e = 1


[Endstops]
# Which axis should be homed. 
has_x = True
has_y = True
has_z = True

# Just a guess, needs testing
end_stop_X1_stops = x_neg
end_stop_Y1_stops = y_neg
end_stop_Z1_stops = z_neg

# Invert =
#   True means endstop is connected as Normally Open (NO) or not connected
#   False means endstop is connected as Normally Closed (NC)
invert_X1 = True
invert_X2 = True
invert_Y1 = True
invert_Y2 = True
invert_Z1 = True
invert_Z2 = True

[Servos]
# For Rev B, servo is either P9_14 or P9_16.
# Not enabled for now, just kept here for reference.
# Angle init is the angle the servo is set to when redeem starts.
# pulse min and max is the pulse with for min and max position, as always in SI unit Seconds.
# So 0.001 is 1 ms.
# Angle min and max is what angles those pulses correspond to.
servo_0_enable = True
servo_0_channel = P9_16
servo_0_angle_init = 90
servo_0_angle_min = -90
servo_0_angle_max = 90
servo_0_pulse_min = 0.001
servo_0_pulse_max = 0.002


[Planner]
max_speed_z = 0.003

[Homing]
home_x = 0
home_y = 0
home_z = 0

[Macros]
G29_reset = 
    M561                ; Reset the bed level matrix
    M558 P0             ; Set probe type to Servo with switch
    M557 P0 X10  Y20    ; Set probe point 
    M557 P1 X100 Y20    ; Set probe point 
    M557 P2 X190 Y20    ; Set probe point 
    M557 P3 X190 Y100   ; Set probe point 
    M557 P4 X100 Y100   ; Set probe point 
    M557 P5 X10  Y100   ; Set probe point 
    M557 P6 X10  Y180   ; Set probe point 
    M557 P7 X100 Y180   ; Set probe point 
    M557 P8 X190 Y180   ; Set probe point 

    G28 X0 Y0           ; Home X Y
    G0 Y10              ; Move to probe
    G92 Y0              ; Reset zero pos to probe

    G28 Z0              ; Home Z
    G0 Z10              ; Move Z up to allow space for probe
    G32                 ; Undock probe
    G92 Z0              ; Reset Z height to 0
    G30 P0 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G31                 ; Dock probe

    G28 Z0              ; Home Z
    G0 Z10              ; Move Z up to allow space for probe
    G32                 ; Undock probe
    G92 Z0              ; Reset Z height to 0
    G30 P1 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G31                 ; Dock probe

    G28 Z0              ; Home Z
    G0 Z10              ; Move Z up to allow space for probe
    G32                 ; Undock probe
    G92 Z0              ; Reset Z height to 0
    G30 P2 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G31                 ; Dock probe

    G28 Z0              ; Home Z
    G0 Z10              ; Move Z up to allow space for probe
    G32                 ; Undock probe
    G92 Z0              ; Reset Z height to 0
    G30 P3 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G31                 ; Dock probe

    G28 Z0              ; Home Z
    G0 Z10              ; Move Z up to allow space for probe
    G32                 ; Undock probe
    G92 Z0              ; Reset Z height to 0
    G30 P4 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G31                 ; Dock probe

    G28 Z0              ; Home Z
    G0 Z10              ; Move Z up to allow space for probe
    G32                 ; Undock probe
    G92 Z0              ; Reset Z height to 0
    G30 P5 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G31                 ; Dock probe

    G28 Z0              ; Home Z
    G0 Z10              ; Move Z up to allow space for probe
    G32                 ; Undock probe
    G92 Z0              ; Reset Z height to 0
    G30 P6 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G31                 ; Dock probe

    G28 Z0              ; Home Z
    G0 Z10              ; Move Z up to allow space for probe
    G32                 ; Undock probe
    G92 Z0              ; Reset Z height to 0
    G30 P7 S            ; Probe point 7
    G0 Z0               ; Move the Z up
    G31                 ; Dock probe

    G28 Z0              ; Home Z
    G0 Z10              ; Move Z up to allow space for probe
    G32                 ; Undock probe
    G92 Z0              ; Reset Z height to 0
    G30 P8 S            ; Probe point 8
    G0 Z0               ; Move the Z up
    G31                 ; Dock probe

    G28 X0 Y0           ; Home X Y

G29 =
    M561                ; Reset the bed level matrix
    M558 P0             ; Set probe type to Servo with switch
    M557 P0 X10  Y20    ; Set probe point 
    M557 P1 X100 Y20    ; Set probe point 
    M557 P2 X190 Y20    ; Set probe point 
    M557 P3 X190 Y100   ; Set probe point 
    M557 P4 X100 Y100   ; Set probe point 
    M557 P5 X10  Y100   ; Set probe point 
    M557 P6 X10  Y180   ; Set probe point 
    M557 P7 X100 Y180   ; Set probe point 
    M557 P8 X190 Y180   ; Set probe point 

    G28 X0 Y0           ; Home X Y
    G0 Y10              ; Move to probe
    G92 Y0              ; Reset zero pos to probe
    G28 Z0              ; Home Z
    G0 Z10              ; Move Z up to allow space for probe
    G32                 ; Undock probe
    G92 Z0              ; Reset Z height to 0
    G30 P0 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G30 P1 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G30 P2 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G30 P3 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G30 P4 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G30 P5 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G30 P6 S            ; Probe point 0
    G0 Z0               ; Move the Z up
    G30 P7 S            ; Probe point 7
    G0 Z0               ; Move the Z up
    G30 P8 S            ; Probe point 8
    G0 Z0               ; Move the Z up
    G31                 ; Dock probe

    G28 X0 Y0           ; Home X Y
